.input-area{
    padding: var(--space-md);
}

.input-container {
    max-width: 48rem;
    margin: 0 auto;
}

.input-wrapper {
    background-color: var(--color-primary);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    padding: var(--space-sm);
    gap: var(--space-md);
}

.input-actions{
    display: flex;
    gap: var(--space-xs);

}

.input-action {
    background: none;
    border: none;
    color: var(--color-accent);
    cursor: pointer;
    padding: var(--space-sm);
    border-radius: var(--border-radius);
}


.input-action:hover{
    background-color: var(--color-primary-light);
    color: var(--color-text);
}

.input-field{
    flex:1;
    background: transparent;
    border: none;
    color: var(--color-text);
    padding: var(--space-sm);
    resize: none;
    outline: none;
    min-height: 2.5rem;

}

.input-field::placeholder{
    color: var(--color-text-muted);
}

.input-send {
    background: none;
    border: none;
    color: var(--color-accent);
    cursor: pointer;
    padding: var(--space-sm);
    border-radius: var(--border-radius);
}

.input-send:hover {
    background-color: var(--color-primary-light);
    color: var(--color-text);
}