.container{
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

.Logo{
  margin: var(--space-xl) var(--space-md);
  
}

.login-container {
    width: 100%;
    max-width: 400px;
    height: fit-content;
    padding: var(--space-xl);
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
  }
  
.login-title{
  color: var(--color-primary-dark);
}

.form-label{
  color: var(--color-primary-dark);
  font-size: 16px;
}
  
  
.login-submit{
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .error {
    color: red;
    font-size: 12px;
  }
  
  .error-message {
    color: red;
    text-align: center;
    margin-top: 10px;
  }
  
  .links {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: var(--space-md);
    gap: var(--space-md);
   }

.link-registrar{
  color: #3CB371;
}

.link-recuperar{
  color: #2D6FA1;
}