.recuperar-container {
    width: 100%;
    max-width: 500px;
    
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 33px;
    background-color: white;
  }
  
  .recup-container {
    width: 100%;
    max-width: 500px;
    margin: 100px 0;
  }

  .restore-title{
    color: var(--color-primary-dark);
  }

  .restore-label{
    padding: var(--space-md) 0;
    color: var(--color-primary-dark);
  }

  .steps {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .step {
    width: 60px;
    height: 60px;
    background-color: #ddd;
    border-radius: 50%;
    display: flex;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
    color: var(--color-accent);
    font-size: larger;
    justify-content: center;
    align-items: center;
  }
  
  .step.active {
    background-color: #3CB371;
    color: white;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
  }
  
  .restore-submit {
    padding: 10px 20px;
    background-color: #3CB371;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 15px;
    
  }
  
  button:hover {
    background-color: #3CB371;
  }
  
  .error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
  
  p {
    color: black;
    font-size: 12px;
  }
  
  .resend-message {
    margin-top: 10px;
    font-size: 14px;
  }
  
  .resend-message button {
    background: none;
    border: none;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  }
  body{
    background-color: #102A43; /* Color oscuro de fondo */
  }