body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #1D3145; /* Color de fondo */
    color: white;
    text-align: center;
}

::-webkit-scrollbar {
    width: 12px; /* Ancho de la barra de desplazamiento */
  }

  ::-webkit-scrollbar-track {
    background: #030064; /* Color del fondo de la pista */
  }

  ::-webkit-scrollbar-thumb {
    background: #002aff; /* Color de la parte que se mueve */
    border-radius: 6px; /* Bordes redondeados */
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color cuando se pasa el ratón sobre la parte que se mueve */
  }


/* Estilos para menu */
nav {
    display: flex;
    justify-content: center;
    
    gap: 30px; /* Ajusta el valor para mayor o menor separación */
    padding: 20px;
    background-color: #213950;
    position: fixed;
    width: 100%;
    top: 0;

    backdrop-filter: blur(30px);
    z-index: 1000;
}

nav .menu-item {
    position: relative;
    
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 5px 0;
    margin-right: 50px;
    position: relative;
}

nav a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #3b4bff;
    transform: translateX(-50%);
    transition: width 0.3s ease;
}

nav a:hover::after {
    width: 100%;
}

/* Estilos para submenús de pantalla completa */
.submenu {
    display: block;
    position: fixed;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgba(10, 23, 59, 0.95);
    padding: 50px 20px;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.95);
    transition: all 0.3s ease;
    border-radius: 10px;
    backdrop-filter: blur(30px);
    z-index: 1000;
}

.submenu a {
   display: block;
    margin:  0;
    text-decoration: none;
    color: white;
    font-size: 12px;
    padding: 10px 15px;
    text-align: left;
    
  
}

.menu-item:hover .submenu {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

/* Parte central de landing page*/

.content1 {
    margin-top: 60px;
    padding: 150px;
    background-color: #1D3145;
  
    
}
img {
    max-width: 100%;
    height: auto;
    justify-content: center;
}

.content2 {
    margin-top: 60px;
    padding:150px;
    background-color: #ffffff;
    color: #000;   
}

.content2 h1 {
    font-size: 40px;
    margin-bottom: 20px;
    color: #000;
}